<div class="top">
  <div class="inner-wrapper">
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    <a routerLinkActive="active" routerLink="/info">Info</a>
    <a routerLinkActive="active" routerLink="/settings">Settings</a>
  </div>
</div>

<div class="content-control inner-wrapper" [class.skip-transitions]="navcount <= 1">
  <div
    class="button"
    [class.followed]="isFollowed"
    [ngClass]="stateName | lowercase"
    (click)="isFollowed = !isFollowed"
  ></div>
  <div class="image" [ngClass]="stateName | lowercase"></div>

  <div class="name" [ngClass]="stateName | lowercase"></div>
</div>
