:root {
  --background: #f9fbf2;

  --yankee-blue: #1c3144;

  --independence: hsl(210, 17%, 35%);
  --independence-light: hsl(210, 17%, 50%);

  --vivid-yellow: #fee300;
  --jelly-bean: #d05e00;
}

:root {
    --app-width: 90%;
    --app-max-width: 900px;
}