.home {
  min-height: 100%;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 50px 0;

  opacity: 0;
  animation: FadeIn 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes FadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
