:host {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 50px 50px 50px;
  grid-gap: 40px 20px;

  opacity: 0;
  animation: FadeIn 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;

  max-width: var(--app-max-width);
  width: var(--app-width);
  margin: auto;
  // border-top: solid 1px var(--yankee-blue);

  padding: 50px 0;

  div {
    background-color: var(--independence);
  }
}
