:host {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: minmax(100vh, auto);
  grid-gap: 10px;

  opacity: 0;
  animation: FadeIn 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;

  max-width: var(--app-max-width);
  width: var(--app-width);
  margin: auto;
  // border-top: solid 1px var(--yankee-blue);
  padding: 130px 0 50px 0;

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 200px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 80px;
  }

  div {
    background-color: var(--independence);
  }
}
